* {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

/*ESTILOS LOGIN*/
.HeaderLogIn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 72, 91);
}

.Logo {
  top: 0;
}
.Logo img {
  height: 150px;
  width: 350px;
}
.LogIn {
  border-radius: 20px;
  height: 500px;
  width: 400px;
  background-color: white;
  text-align: center;
}
.LogIn h2 {
  color: black;
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.BotonUsuario {
  width: 60%;
  height: 30px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-color: whitesmoke;
  color: #103A44;
}
.BotonUsuario::placeholder {
  text-align: center;
  color: rgba(157, 157, 157, 0.721);
  font-size: 15px;
}

.DivIngresar {
  padding-top: 15px;
}

.Ingresar {
  background-color: rgb(1, 21, 172);
  color: white;
  height: 40px;
  width: 55%;
  border-radius: 10px;
  border-color: rgb(1, 21, 172);
}
.Ingresar:hover {
  background-color: rgb(163, 3, 1);
  color: white;
  border-color: rgb(163, 3, 1);
  transition: 0.3s;
}

.OlvideContrasena a h5 {
  color: rgb(109, 185, 226);
  text-decoration: none;
  font-size: 17px;
}

a {
  text-decoration: none;
}


/*ESTILOS USUARIOS*/
.HeaderInventario {
  background-color: rgb(0, 72, 91);
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

.DivHeader {
  display: flex;
  text-align: center;
  align-items: center;
}
.DivHeader img {
  height: 13vh;
  width: 250px;
  padding-left: 60px;
}

.CerrarSesion {
  padding: 20px 20px 0px 0px;
  color: white;
}
.CerrarSesion:hover {
  color: red;
  transition: 0.5s;
  cursor: pointer;
}

.BarraBusqueda {
  min-width: 400px;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  border-color: whitesmoke;
  color: #103A44;
}

.NavPrincipal {
  display: flex;
  color: white;
}
.NavPrincipal button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  height: 6vh;
  color: white;
  background-color: rgb(1, 21, 172);
  border: none;
}
.NavPrincipal button:hover {
  background-color: orange;
  transition: 0.5s;
  cursor: pointer;
}

/*TITULO-SECCIONES*/
.TituloSecciones {
  text-align: center;
  justify-content: center;
  margin: 40px 0px 40px 0px;
}
.TituloSecciones h2 {
  font-size: 30px;
  color: red;
  font-weight: bold;
}
/*ESTILOS TABLA*/
.DivTablaUsuarios {
  display: flex;
  justify-content: center;
  text-align: center;
}
table {
  border-collapse: collapse;
  border: 2px;
  border-radius: 20px;
}
thead tr {
  background-color: rgb(246, 209, 178);
}
th, td {
  padding: 0px 10px 0px 10px;
  border: 1px solid #666;
  padding: 4px;
}
tbody tr:hover {
  background-color: #666;
  cursor: cell;
}

/*ESTILOS USUARIOS*/
.EstiloFormEquipos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.EstiloFormEquipos button {
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
  height: 6vh;
  color: white;
  background-color: rgb(1, 21, 172);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 15px;
}
.EstiloFormEquipos button:hover {
  background-color: orange;
  transition: 0.5s;
  cursor: pointer;
}

/*ESTILO FORM EQUIPOS*/
.DivTodoForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.DivCamposFormEquipos {
  justify-content: center;
  text-align: center;
  position: relative;
}
.BotonesFormEquipos {
  justify-content: center;
  text-align: center;
}
.CamposFormEquipos {
  height: 5vh;
  width: 35vh;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  border-color: rgb(0, 72, 91);
}
.EtiquetaInputForm {
  position: absolute;
  transform: translateY(-50%);
  top: 10px;
  font-size: 16px;
  margin-left: 25px;
  padding: 0px 5px 0px 5px;
  background-color: white;
  color: rgb(0, 72, 91);
}

.BotonGuardar {
  background-color: rgb(1, 21, 172);
  color: white;
  height: 40px;
  width: 35vh;
  border-radius: 10px;
  border-color: rgb(1, 21, 172);
  margin: 0px 10px 0px 10px;
}
.BotonGuardar:hover {
  background-color: orange;
  border-color: white;
  transition: 0.3s;
}

.BotonEliminar {
  background-color: rgb(1, 21, 172);
  color: white;
  height: 40px;
  width: 35vh;
  border-radius: 10px;
  border-color: rgb(1, 21, 172);
  margin: 0px 10px 0px 10px;
}
.BotonEliminar:hover {
  background-color: red  ;
  border-color: white;
  transition: 0.3s;
}

/*ESTILOS FORM ENTREGAS Y DEVOLUCIONES*/
.EtiquetaInputEntregas {
  position: absolute;
  transform: translateY(-50%);
  top: 10px;
  font-size: 16px;
  margin-left: 25px;
  padding: 0px 5px 0px 5px;
  background-color: white;
  color: #274A9B;
}
.CamposFormEntregas {
  height: 5vh;
  width: 35vh;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  border-color: #274A9B;
}

input[type="file"]::-webkit-file-upload-button {
  height: 5vh;
  width: 35vh;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  border-color: #274A9B;
}

.TituloSecciones2 {
  display: flex;
  justify-content: center;
  margin: 40px 0px 40px 0px;
}
.TituloSecciones2 h2 {
  font-size: 30px;
  color: red;
  font-weight: bold;
}
.TituloSecciones2 img {
  height: 40px;
  width: 40px;
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
}

/*ESTILOS INICIO DEFAULT*/
.ImagenInicio {
  text-align: center;
  margin: 40px 0px 40px 0px;
}
.ImagenInicio img {
  height: 50%;
  width: 50%;
  border-radius: 30px;
}

/*ESTILOS REGISTRO USUARIOS*/
.TituloSecciones3 {
  background-color: #274A9B;
}

/*FOOTER*/
footer {
  display: flex;
  background-color: black;
  height: 6vh;
  align-items: center;
  justify-content: center;
  color: white; 
  width: 100%;
}